@import "tailwindcss";

/* body {
  font-family: "Paprika", system-ui;
  
} */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
